  body {background:#f1f4f9;}
  
  #create {margin-top:15px;}
  h1, h2, .heading {font-family: 'Merienda', cursive;}
  
  .topbar {border-bottom:2px solid #c5c5c5; background:#0099cc; margin-bottom:15px;}
  .topbar h2 {color:#fff;}
 
  
  label, input {font-size:16px;}
  
  .timeline {
	background-image: url("../images/line-1.png");
    background-position: center; 
    background-repeat: repeat-y;
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    height: auto;
    padding: 0px;
    clear: both;
    overflow: hidden;
}
.timeline li.year, .timeline li.end{
	clear: both;
	width: 4em;
	font-size:2em;
	margin: 0 auto;
	line-height: 4em;
	background-color: #fff;
	border-radius:50%;
	text-align: center;	
	border: 3px solid #c5c5c5;
	

}
.timeline li.year:first-child{
	margin-top:0px;
}
.timeline li.year { margin-bottom: 25px;}
.timeline li.end { margin-bottom: 2px;}
.timeline li.year, .timeline li.event, .timeline li.end{
	list-style-type: none;
	
}
.timeline li.event{
     width: 45%;
     background-color: #fff;
	margin-bottom: 20px;
	padding: 20px;
	position: relative;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
        border-image: none;
        border-style: solid;
        border-width: 1px;
}

li.event:nth-child(odd) {
    color: green;
    clear:left;
    float: left;
}
li.event:nth-child(even) {
    color: #002147;
    clear: right;
    float: right;
    margin-top:100px;
    margin-bottom:50px;
}
.timeline li.event:nth-child(odd)::after {
    background:#002147;
    content: "";
    height: 2px;
    position: absolute;
    right: -11.2%;
    top: 30px;
    width: 11.2%;
    
}
li.event:nth-child(even)::before{
	background:#002147;
    content: "";
    height: 2px;
    position: absolute;
    top: 30px;
    width: 11.2%;
    left: -11.2%;
	}
	
	 .rating {
      overflow: hidden;
      display: inline-block;
  }
  .rating-input {
      float: right;
      width: 16px;
      height: 16px;
      padding: 0;
      margin: 0 0 0 -16px;
      opacity: 0;
  }
  .rating-star {
      display: block;
      width: 16px;
      height: 16px;
      background: url('../images/star.png') 0 -16px;
  }
  .rating-star:hover {
      background-position: 0 0;
  }
   .rating-star {
      position: relative;
      float: right;
      display: block;
      width: 16px;
      height: 16px;
      background: url('../images/star.png') 0 -16px;
  }

  .rating-star:hover,
  .rating-star:hover ~ .rating-star {
      background-position: 0 0;
  }

 .rating:hover .rating-star:hover,
  .rating:hover .rating-star:hover ~ .rating-star,
  .rating-input:checked ~ .rating-star {
      background-position: 0 0;
  }
  .rating-star,
  .rating:hover .rating-star {
      position: relative;
      float: right;
      display: block;
      width: 16px;
      height: 16px;
      background: url('../images/star.png') 0 -16px;
  }


@media (max-width: 640px) {
	.timeline li.event{
		width: 80%;
		background-color: #fff;
		border: 1px solid #c5c5c5;
		margin: 20px auto;
		padding: 20px;
		position: relative;
	}
	
	li.event:nth-child(odd) {
	    color: green;
	    clear: both;
	    float: none;
	}
	li.event:nth-child(even) {
	    color: #002147;
	    clear: both;
	    float: none;
	}
	
	.timeline li.event:nth-child(odd)::after, li.event:nth-child(even)::before {
	    width: 0px;
	}

	}